In [1]:
import pandas as pd

In [2]:
df_data = pd.read_csv("2_datos_no_nulos.csv")
df_data

,sex,age,t2m_pre_mean_rr,t2m_pre_rmssd,t2m_pre_pns,t2m_pre_mean_hr,t2m_pre_stress,t2m_pre_sns,t2m_pre_sdnn,t2m_pre_hf,t2m_pre_lf,t2m_pre_vlf,bp_systolic,bp_diastolic,bp_pam,bp_pp,weight kg,height cm,height mt,our_imc
0,1.0,75.0,74.8,21.7,-140.00,80,149.0,184.00,308.0,222,713,172,108,70,82.666667,38,70.0,160,1.60,27.3437
1,1.0,66.0,95.3,18.8,-54.00,63,145.0,68.00,255.0,87,226,29,122,72,88.666667,50,52.0,149,1.49,23.4224
2,1.0,77.0,81.9,17.5,-106.00,73,249.0,283.00,170.0,118,130,14,126,72,90.000000,54,85.0,160,1.60,33.2031
3,1.0,73.0,84.6,13.6,-115.00,71,166.0,149.00,176.0,66,66,18,130,80,96.666667,50,69.0,151,1.51,30.2618
4,1.0,65.0,129.6,29.8,156.00,46,141.0,-71.00,205.0,236,69,61,129,73,91.666667,56,58.0,149,1.49,26.1249
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
524,2.0,78.0,1187.0,22.2,0.76,51,17.0,0.10,18.8,992,125,30,105,56,72.333333,49,82.2,155,1.55,34.2144
525,2.0,67.0,790.0,16.9,-1.28,76,19.6,2.24,20.0,350,196,88,134,87,102.666667,47,68.1,154,1.54,28.7148
526,2.0,77.0,814.0,23.8,-0.98,74,13.8,1.20,26.7,521,261,39,141,80,100.333333,61,67.1,152,1.52,29.0426
527,2.0,61.0,912.0,16.6,-0.78,66,15.8,1.05,22.4,395,301,27,106,58,74.000000,48,58.4,162,1.62,22.2527
528,2.0,69.0,1016.0,16.9,-0.25,59,18.4,0.97,18.9,604,189,16,111,72,85.000000,39,80.6,180,1.80,24.8765

In [3]:
df_data = df_data.drop(columns=["height mt"])
df_data

,sex,age,t2m_pre_mean_rr,t2m_pre_rmssd,t2m_pre_pns,t2m_pre_mean_hr,t2m_pre_stress,t2m_pre_sns,t2m_pre_sdnn,t2m_pre_hf,t2m_pre_lf,t2m_pre_vlf,bp_systolic,bp_diastolic,bp_pam,bp_pp,weight kg,height cm,our_imc
0,1.0,75.0,74.8,21.7,-140.00,80,149.0,184.00,308.0,222,713,172,108,70,82.666667,38,70.0,160,27.3437
1,1.0,66.0,95.3,18.8,-54.00,63,145.0,68.00,255.0,87,226,29,122,72,88.666667,50,52.0,149,23.4224
2,1.0,77.0,81.9,17.5,-106.00,73,249.0,283.00,170.0,118,130,14,126,72,90.000000,54,85.0,160,33.2031
3,1.0,73.0,84.6,13.6,-115.00,71,166.0,149.00,176.0,66,66,18,130,80,96.666667,50,69.0,151,30.2618
4,1.0,65.0,129.6,29.8,156.00,46,141.0,-71.00,205.0,236,69,61,129,73,91.666667,56,58.0,149,26.1249
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
524,2.0,78.0,1187.0,22.2,0.76,51,17.0,0.10,18.8,992,125,30,105,56,72.333333,49,82.2,155,34.2144
525,2.0,67.0,790.0,16.9,-1.28,76,19.6,2.24,20.0,350,196,88,134,87,102.666667,47,68.1,154,28.7148
526,2.0,77.0,814.0,23.8,-0.98,74,13.8,1.20,26.7,521,261,39,141,80,100.333333,61,67.1,152,29.0426
527,2.0,61.0,912.0,16.6,-0.78,66,15.8,1.05,22.4,395,301,27,106,58,74.000000,48,58.4,162,22.2527
528,2.0,69.0,1016.0,16.9,-0.25,59,18.4,0.97,18.9,604,189,16,111,72,85.000000,39,80.6,180,24.8765

In [4]:
df_data["sex"].unique()

array([1., 2.])

In [5]:
matrix_data = []

for index in df_data.index:
    value = df_data["sex"][index]

    row = [0,0]

    if value == 1:
        row[0] = 1
    else:
        row[1] = 1
    
    matrix_data.append(row)

df_one_hot = pd.DataFrame(data=matrix_data, columns=["sex_1", "sex_2"])
df_one_hot

     sex_1  sex_2
0        1      0
1        1      0
2        1      0
3        1      0
4        1      0
..     ...    ...
524      0      1
525      0      1
526      0      1
527      0      1
528      0      1

[529 rows x 2 columns]

In [6]:
df_data = pd.concat([df_data, df_one_hot], axis=1)
df_data

,sex,age,t2m_pre_mean_rr,t2m_pre_rmssd,t2m_pre_pns,t2m_pre_mean_hr,t2m_pre_stress,t2m_pre_sns,t2m_pre_sdnn,t2m_pre_hf,...,t2m_pre_vlf,bp_systolic,bp_diastolic,bp_pam,bp_pp,weight kg,height cm,our_imc,sex_1,sex_2
0,1.0,75.0,74.8,21.7,-140.00,80,149.0,184.00,308.0,222,...,172,108,70,82.666667,38,70.0,160,27.3437,1,0
1,1.0,66.0,95.3,18.8,-54.00,63,145.0,68.00,255.0,87,...,29,122,72,88.666667,50,52.0,149,23.4224,1,0
2,1.0,77.0,81.9,17.5,-106.00,73,249.0,283.00,170.0,118,...,14,126,72,90.000000,54,85.0,160,33.2031,1,0
3,1.0,73.0,84.6,13.6,-115.00,71,166.0,149.00,176.0,66,...,18,130,80,96.666667,50,69.0,151,30.2618,1,0
4,1.0,65.0,129.6,29.8,156.00,46,141.0,-71.00,205.0,236,...,61,129,73,91.666667,56,58.0,149,26.1249,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
524,2.0,78.0,1187.0,22.2,0.76,51,17.0,0.10,18.8,992,...,30,105,56,72.333333,49,82.2,155,34.2144,0,1
525,2.0,67.0,790.0,16.9,-1.28,76,19.6,2.24,20.0,350,...,88,134,87,102.666667,47,68.1,154,28.7148,0,1
526,2.0,77.0,814.0,23.8,-0.98,74,13.8,1.20,26.7,521,...,39,141,80,100.333333,61,67.1,152,29.0426,0,1
527,2.0,61.0,912.0,16.6,-0.78,66,15.8,1.05,22.4,395,...,27,106,58,74.000000,48,58.4,162,22.2527,0,1
528,2.0,69.0,1016.0,16.9,-0.25,59,18.4,0.97,18.9,604,...,16,111,72,85.000000,39,80.6,180,24.8765,0,1

In [7]:
df_data.drop(columns=["sex"], inplace=True)

In [8]:
df_data.to_csv("4_dataset_procesed.csv", index=False)