In [1]:
import pandas as pd

In [4]:
residues = ['A', 'M', 'R', 'W', 'C', 'T', 'K', 'I', 'Y', 'N', 'L', 'S', 'P', 'H', 'V', 'E', 'D', 'G', 'Q', 'F']
residues.sort()

In [6]:
'MNT'
M = [0 for i in range(20)]
M[10] = 1
M

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [2]:
df_data = pd.read_csv("../PET/raw_dataset.csv")
df_data

                                              sequence  response
0    MNTTPVHALTDIDGGIAVDPAPRLAGPPVFGGPGNDAFDLAPVRST...         0
1    LTCGTNSGFVCKGTQTQYAGGFAPGVGYGGFGGGSCTATKTPVIFI...         0
2    AANPYERGPNPTDALLEARSGPFSVSEENVSRLSASGFGGGTIYYP...         1
3    MIKPVTFMSEGEQIIGVLHVPDDLRGDKRAPAIAMFHGFTGNKSEA...         1
4    MKFFALTTLLAATASALPTSHPVQELEARQLGGGTTRNDLTNGNSA...         0
..                                                 ...       ...
423  MANPYERGPNPTDALLEASSGPFSVSEENVSRLSASGFGGGTIYYP...         1
424  MFGKLPFARASLAVGALLLSAAAVAQTNPYQRGPDPTVSSLEATRG...         1
425  MKKNLNKIATIILLVFSMTLTNFSMIVRAAEPKAQGTQKVESSTTK...         1
426  MLYHAYQIYADMILPACTLAELAAATLAANPRSGGFDAVPRLRAAC...         0
427  MLYQLVEYQRALLAPFTAWAASAANAFIDPASPFAYVPGASCFAAG...         0

[428 rows x 2 columns]