In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from joblib import dump

In [2]:
df_data = pd.read_csv("../process_dataset/train_data.csv")
df_data

,sex,age,bp_systolic,bp_diastolic,bp_pam,bp_pp,Weight kg,Height cm,imc
0,1.0,57.0,117,76,89.666667,41,61.0,140,31.122449
1,1.0,77.0,129,77,94.333333,52,57.0,160,22.265625
2,1.0,66.0,127,72,90.333333,55,85.2,150,37.866667
3,1.0,68.0,127,76,93.000000,51,70.0,147,32.393910
4,1.0,87.0,93,57,69.000000,36,81.0,168,28.698980
...,...,...,...,...,...,...,...,...,...
376,1.0,61.0,117,78,91.000000,39,85.0,150,37.777778
377,1.0,72.0,147,78,101.000000,69,62.8,147,29.061965
378,2.0,78.0,147,79,101.666667,68,64.6,157,26.207960
379,1.0,64.0,107,61,76.333333,46,89.0,140,45.408163
380,1.0,71.0,159,78,105.000000,81,79.0,148,36.066472

In [3]:
scaler_instance = StandardScaler()
scaler_instance.fit(X=df_data.values)
data_scaled = scaler_instance.transform(X=df_data.values)

In [6]:
df_scaled = pd.DataFrame(data=data_scaled, columns=df_data.columns)

In [7]:
df_scaled.to_csv("../process_dataset/train_data_scaled.csv", index=False)

In [8]:
dump(scaler_instance, "../results/scaler.joblib")

['../results/scaler.joblib']